<button onclick={{perform sayHi}}>
  Boring
</button>
<button onclick={{perform restartable}}>
  Restartable
</button>
<button onclick={{perform enqueue}}>
  Enqueue
</button>
<button onclick={{perform drop}}>
  Drop
</button>
